.left-bar {
    width: 15%; // Ajusta este valor según tus necesidades
}

.right-bar {
    width: 15%; // Ajusta este valor según tus necesidades
}

.productReviews {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 110%; // Ajustado para que el contenedor de las reseñas ocupe más ancho
}