.login{
height: 100vh;
background-color: #021f75;
display: flex;
align-items: center;
justify-content: center;
    .card{
        font-family: "JejuGothic", sans-serif;
        width: 50%;
        display: flex;
        background-color: white;
        border-radius: 10px;
        min-height: 600px;
        
        .right{
            flex: 1;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 40px;
            justify-content: center;
            h1{
                text-align: center;
                text-shadow: 5px 3px 3px rgb(179, 172, 172);
                color: #000000;
            }
            form{
                margin-top: 10px;
                max-width: 350px;
                display: flex;
                margin-left: auto;
                margin-right: auto;
                flex-direction: column;
                gap: 30px;
                input{
                    font-size: 16px;
                    border: 1px solid #ccc;
                    border-bottom: 1px solid lightgray;
                    padding: 8px;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    background-color: #f0f0f0;
                }
                button{
                    
                    width: 100px, 33.33%; 
                    padding: 10px;
                    border: none;
                    background-color: #009bec;
                    color: white;
                    font-weight: bold;
                    cursor: pointer;
                }
            }
            a{
                font-family: "JejuGothic", sans-serif;
                font-size: 16;
                text-align: center;
                color: #009bec
            }
            p{
                font-family: "JejuGothic", sans-serif;
                text-align: center;
                a1{
                    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
                    padding-left: 10px;
                    font-size: 18px;
                    color: #021f75;
                }
            }
            .login-container{
                position: relative;
            }
        }
    }
}