.login {
  height: 100vh;
  background-color: #edf2ff;
  display: flex;
  align-items: center;
  justify-content: center;
  .card {
    font-family: "JejuGothic", sans-serif;
    width: 40%;
    display: flex;
    background-color: white;
    border-radius: 10px;
    min-height: 600px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);


    .right {
      flex: 1;
      padding: 20px;
      display: flex;
      flex-direction: column;
      //gap: 20px;
      justify-content: center;
      img {
        width: 58px;
        height: 50px;
        object-fit: cover;
        margin-bottom: 0px;
      }
      h2 {
        text-align: center;
        font-size: 25px;
        font-family: "Lato", sans-serif;
        font-weight: 700;
        font-style: normal;
      }
      form {
        margin-top: 10px;
        width: 75%;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        gap: 30px;
        input {
          font-size: 16px;
          border: 1px solid #ccc;
          border-bottom: 1px solid lightgray;
          padding: 8px;
          border: 1px solid #ccc;
          border-radius: 5px;
          background-color: #f0f0f0;
        }
        span {
          font-size: 16px;
          color: red;
        }
        button {
          width: 100px, 33.33%;
          padding: 10px;
          border: none;
          background-color: #009bec;
          color: white;
          font-weight: bold;
          cursor: pointer;
        }
      }
      a {
        font-family: "Lato", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 17px;
        text-align: center;
        color: #009bec;
        text-decoration: none;
      }
      p {
        font-family: "Lato", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 17px;
        text-align: center;
        a1 {
          font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
          padding-left: 10px;
          font-size: 18px;
          color: #021f75;
        }
      }
      .login-container {
        position: relative;
      }
    }
  }
  @media (max-width: 768px) {
    .card {
      width: 100%; // Ocupa el 100% del ancho del contenedor .login
      max-width: 100%; // Asegúrate de que no haya un ancho máximo
      border-radius: 0; // Opcional: elimina el borde redondeado para un mejor ajuste
      height: 100vh; // Opcional: ocupa toda la altura de la pantalla
      box-shadow: none; // Opcional: elimina la sombra para un diseño más plano
    }
  }
}
