.navbar {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  height: 50px;
  border-bottom: 1px solid lightgray;
  position: sticky;
  top: 0;
  background-color: white;

  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;

  a {
    text-decoration: none;
    color: black;
    font-size: 17px;
  }

  .menu-button {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }

  .left {
    display: flex;
    align-items: center;
    gap: 30px;

    span {
      font-weight: bold;
      font-size: 25px;
    }

    .logo {
      display: flex;
      align-items: center;
      gap: 10px;
      img {
        width: 58px;
        height: 50px;
        object-fit: cover;
      }
      span {
        pointer-events: none;
      }
    }

    .search {
      display: flex;
      align-items: center;
      gap: 10px;
      border: 1px solid lightgray;
      border-radius: 5px;
      padding: 5px;
      input {
        border: none;
        width: 300px;
      }
    }

    .seccion_reseñas {
      font-family: "Lato", sans-serif;
      font-weight: 400;
      font-style: normal;

      .titulo_reseñas {
        border: none;
        background-color: white;
        font-family: "Lato", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 17px;
        position: relative;
      }

      .menu_reseñas {
        width: 160px;
        margin-top: 5px;
        position: absolute;
        z-index: 1;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 3px;

        .menu_item {
          background-color: white;
          padding: 5px;
          font-size: 15px;
          width: 100%;
          :hover {
            background-color: rgb(214, 203, 203);
            color: rgb(0, 0, 0);
            width: 100%;
          }
        }
      }
    }

    &.open {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: #fff;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      z-index: 1;

      a {
        padding: 10px 20px;
        text-decoration: none;
        color: #000;
        display: block;

        &:hover {
          background-color: #f1f1f1;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    .left {
      display: none;
    }

    .menu-button {
      display: block;
    }

    .left.open {
      display: flex;
      flex-direction: column;
      align-items:flex-start;
      width: 80%;
      gap: 20px;
      .logo {
        align-self: center;
      }
      & > * {
        margin: 1px 0;
        width: 100px;
        padding: 10px 2px;
        border-bottom: 1px solid lightgray;

        &:last-child{
          border-bottom: none;
        }
      }
    }
  }
}