.jobsReviews {
    font-family: "Lato", sans-serif;
  
    .banner1 {
      border-radius: 5px;
      border: 1px solid lightgray;
      background-color: whitesmoke;
      margin-top: 15px;
      margin-left: 20px;
      margin-right: 20px;
      display: flex;
      //justify-content: space-between;
      justify-content: center;
      gap: 50px;
      align-items: center;
      text-align: center;
  
      button{
          margin-top: 5px;
          padding: 7px;
          font-family: "Lato", sans-serif;
          font-size: 20px;
          font-weight: 700;
          font-style: normal;
          border-radius: 5px;
          background-color: rgb(8, 8, 250) ;
          color:white
      }
    }
  
    .container{
      font-family: "Lato", sans-serif;
      font-size: 20px;
      font-weight: 400;
      display: flex;
      flex-direction: column;
      //border: 1px solid;
      padding: 20px;
      //margin-top: 5px;
      h3{
        text-align: center;
      }
      .row{
        display: flex;
        gap: 20px;
        //border: 1px solid;
        padding: 10px;
        //margin: auto;
        margin-top: 10px;
        justify-content: center;
  
        .item{
          padding: 15px;
          display: flex;
          flex-direction: column;
          border: 1px solid lightgray;
          border-radius: 5px;
          text-align: center;
          align-items: center;
          width: 300px;
          //background-color: rgb(141, 156, 161);
          img{
            width: 50%;
            height: 40%;
            pointer-events: none;
          }
          p{
            color: rgb(124, 122, 122)
          }
          a{
            text-decoration: none;
            color: blue
          }
  
        }
      }
    }
  }
  