.profile-container {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.my-info {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input, select {
  width: 95%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

input[type="text"] {
  height: 40px;
}

select {
  height: 40px;
  padding: 10px;
}