.register{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
        .card{
            width: 50%;
            display: flex;
            background-color: white;
            border-radius: 10px;
            min-height: 600px;
            
            .up{
                align-items: center;
                .header {
                    margin-bottom: -30px;
                    display: flex;
                    align-items: center;
                }
                
                .header-img {
                    width: 100px; 
                    height: auto; 
                    margin-right: 10px;
                }
                .header-text{
                    max-width: 150px;
                    text-align: center;
                }
                flex: 1;
                padding: 50px;
                display: flex;
                flex-direction: column;
                gap: 40px;
                justify-content: left;
                h1{
                    font-family: "JejuGothic", sans-serif;
                    text-align: center;
                    text-shadow: 5px 3px 3px rgb(179, 172, 172);
                    color: #000000;
                }
                .red-asterisk {
                    color: red; /* Establece el color del texto a rojo */
                  }
                p{
                    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
                    margin-top: -10px;
                    margin-bottom: -20px;
                    text-align: center;
                    text-orientation: upright;
                }
                p1{
                    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
                    margin-bottom: -28px;
                    text-align: center;
                    text-orientation: upright;
                }
                form{
                    margin-top: 10px;
                    max-width: 350px;
                    display: flex;
                    margin-left: auto;
                    margin-right: auto;
                    flex-direction: column;
                    gap: 20px;
                    input{
                        font-size: 16px;
                        border: 1px solid #ccc;
                        border-bottom: 1px solid lightgray;
                        padding: 8px;
                        border: 1px solid #ccc;
                        border-radius: 5px;
                        background-color: #f0f0f0;
                    }
                    button{
                        width: 100px, 33.33%; 
                        padding: 10px;
                        border: none;
                        background-color: #009bec;
                        color: white;
                        font-weight: bold;
                        cursor: pointer;
                    }
                }
                a{
                    text-align: center;
                    color: #009bec
                }
                p2{
                    text-align: center;
                    a1{
                        padding-left: 10px;
                        color: #009bec;
                    }
                }
                .down{
                    font-family: "JejuGothic", sans-serif;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .login_register{
                        margin-left: 15px;
                    }
                }
            }
        }
    }
    body{
        background-color: #021f75;
        background-attachment: fixed;
        block-size: cover;
    }
    .red-asterisk{
        color: red
    }